<h1 mat-dialog-title>{{data?.editingEnrollment ? "Editando " : "Creando"}} Inscripcion</h1>

<div mat-dialog-content>
    <form [formGroup]="enrollmentForm">
        <div class="row" >
            <div class="col-6">
              <mat-form-field class="example-form-field w-100">
                <mat-label>Alumno</mat-label>
                <mat-select matNativeControl formControlName="studentId">
                  <mat-option *ngFor="let student of studentsList"
                  [value]="student.id">{{student | studentFullName}}</mat-option>
                </mat-select>  
                <mat-error>
                  @if(enrollmentForm.get('student')?.hasError('required')) { Este campo es requerido }
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="example-form-field w-100">
                  <mat-label>Curso</mat-label>
                  <mat-select matNativeControl formControlName="courseId">
                    <mat-option *ngFor="let course of coursesList"
                    [value]="course.id">{{course.name}}</mat-option>
                  </mat-select>
                  <mat-error>
                    @if(enrollmentForm.get('course')?.hasError('required')) { Este campo es requerido }
                  </mat-error>
                </mat-form-field>
              </div>
          </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="onSave()">Guardar</button>
</div>