<mat-drawer-container class="example-container" autosize>
    <!-- SIDEBAR (MENU LATERAL) -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
        <a
          routerLink="home"
          mat-list-item
          routerLinkActive
          #homelink="routerLinkActive"
          [activated]="homelink.isActive"
          >Inicio</a>
        <a
          routerLink="users"
          mat-list-item
          routerLinkActive
          #usersLink="routerLinkActive"
          [activated]="usersLink.isActive"
          >Usuarios</a>
          <a
          routerLink="students"
          mat-list-item
          routerLinkActive
          #studentsLink="routerLinkActive"
          [activated]="studentsLink.isActive"
          >Alumnos</a>
          <a
          routerLink="courses"
          mat-list-item
          routerLinkActive
          #coursesLink="routerLinkActive"
          [activated]="coursesLink.isActive"
          >Cursos</a>
          <a
          routerLink="class"
          mat-list-item
          routerLinkActive
          #classesLink="routerLinkActive"
          [activated]="classesLink.isActive"
          >Clases</a>
          <a
          routerLink="enrollment"
          mat-list-item
          routerLinkActive
          #enrollmentLink="routerLinkActive"
          [activated]="enrollmentLink.isActive"
          >Inscripciones</a>
        <a
          (click)="logout()"
          mat-list-item
          >Cerrar Sesion</a>
      </mat-nav-list>
    </mat-drawer>
  
    <!-- AREA DERECHA (CONTENIDO) -->
    <div class="example-sidenav-content">
      <!-- TOOLBAR -->
      <mat-toolbar>
        <button
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>MochAcad</span>
      </mat-toolbar>
  
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>