<mat-drawer-container class="example-container" autosize>
    <!-- SIDEBAR (MENU LATERAL) -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
        
        <a
          routerLink="home"
          mat-list-item
          routerLinkActive
          #homelink="routerLinkActive"
          [activated]="homelink.isActive"
          ><mat-icon>homelink</mat-icon
            > Inicio</a>
        @if((authUser$ | async)?.profile === 'ADMIN'){
            <a
          routerLink="users"
          mat-list-item
          routerLinkActive
          #usersLink="routerLinkActive"
          [activated]="usersLink.isActive"
          ><mat-icon>account_circle</mat-icon>
           Usuarios</a>}
          <a
          routerLink="students"
          mat-list-item
          routerLinkActive
          #studentsLink="routerLinkActive"
          [activated]="studentsLink.isActive"
          ><mat-icon>person</mat-icon>
           Alumnos</a>
          <a
          routerLink="courses"
          mat-list-item
          routerLinkActive
          #coursesLink="routerLinkActive"
          [activated]="coursesLink.isActive"
          ><mat-icon>library_books</mat-icon>
           Cursos</a>
           @if((authUser$ | async)?.profile === 'ADMIN'){
           <a
          routerLink="class"
          mat-list-item
          routerLinkActive
          #classesLink="routerLinkActive"
          [activated]="classesLink.isActive"
          ><mat-icon>list_alt</mat-icon>
           Clases</a>
           }
          <a
          routerLink="enrollment"
          mat-list-item
          routerLinkActive
          #enrollmentLink="routerLinkActive"
          [activated]="enrollmentLink.isActive"
          ><mat-icon>edit_square</mat-icon>
           Inscripciones</a>
        <a
          (click)="logout()"
          mat-list-item
          ><mat-icon>logout</mat-icon>
           Cerrar Sesion</a>
      </mat-nav-list>
    </mat-drawer>
  
    <!-- AREA DERECHA (CONTENIDO) -->
    <div class="example-sidenav-content">
      <!-- TOOLBAR -->
      <mat-toolbar>
        <div
        class="d-flex justify-content-between align-items-center w-100 h-100"
      >
        <div>

        <button
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>MochAcad</span>
      </div>
      <div *ngIf="authUser$ | async; let authUser">
        <p><mat-icon>account_circle</mat-icon> {{ authUser.firstName }} {{ authUser.lastName }}</p>
      </div>
    </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>